h1 {
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
}

h2 {
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
}

p {
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
}

app-image-view {
    padding: 50px;
    align-self: center;
}

button {
    margin-bottom: 50px;
}

.full-divider {
    padding: 50px;
}