<form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Search for an anime!</mat-label>
    <input matInput placeholder="Ex. Naruto" [(ngModel)]="anime_input" name="animename">
  </mat-form-field>
  <p>You entered: {{anime_input}}</p>
  <button mat-raised-button color="primary" (click)="getAnime()">Get Anime!</button>

  

  <!-- <mat-card>
  <app-image-view
  *ngFor="let item of anime_query.data"
  [imageSrc] = "item.images.jpg.image_url"
  />
  </mat-card> -->
  
  <mat-card>
  <ul>
    <li *ngFor="let item of anime_query.data">
      {{item.images.jpg.image_url | json}}
    </li>
  </ul>
  </mat-card>

  <!-- <mat-card>
    {{ anime_query.data[0].images.jpg.image_url | json }}
  </mat-card>

  <mat-card>
    {{ anime_query.data | json }}
  </mat-card> -->

  <!-- <ng-container *ngIf="anime_query">
    <app-image-view  *ngFor="let item of anime_query.data"
    [imageSrc] = "item.images.jpg.image_url"
    />
  </ng-container> -->

  <mat-grid-list cols="5" rowHeight="1:1">
    <mat-grid-tile *ngFor="let item of anime_query.data">
      <button>
        <app-image-view [imageSrc] = "item.images.jpg.image_url"/>
      </button>
    </mat-grid-tile>
  </mat-grid-list>

  <!-- <mat-card>
  <ng-container *ngIf="anime_query">
    <mat-card>
    <button mat-button  *ngFor="let item of anime_query.data">
      <mat-card>
      <app-image-view [imageSrc] = "item.images.jpg.image_url"/>
    </mat-card>
  </button>
</mat-card>
  </ng-container>
</mat-card> -->
 
