<a class="button" routerLink="/home">Go to home</a>
<mat-card>
<app-image-view 
[imageSrc] = "animeData.images.jpg.image_url"
[imageAlt] = "animeData.title"
/>
<h1>{{animeData.title}}</h1>
<h2>Synopsis:</h2>
<p>{{animeData.synopsis}}</p>
</mat-card>
<!-- <mat-card>
    <h1>{{anime_query.data[0].title}}</h1>
    <app-image-view 
          [imageSrc] = "animeImage"
          [imageAlt] = "anime_query.data[0].title"
          />
</mat-card>

<mat-card>
    <h1>Synopsis:</h1>
    <p>{{anime_query.data[0].synopsis}}</p>
</mat-card>

<mat-card>
    <h1>Background:</h1>
    <p>{{anime_query.data[0].background}}</p>
    </mat-card> -->