.animeboxes {
    width: 300px;
    height: 400px;
    display: flexbox;
    margin: 5px;
}

div {
    display: flex;
    flex-wrap: wrap;
    /* margin: auto;
    align-items: center; */
    justify-content: center;
    word-wrap: break-word;
}

.example-form {
    /* padding-left: 50px; */
    justify-content: center;
    margin: auto;
    /* display: flex; */
    /* word-wrap: break-word; */
}

.enter-input {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    word-wrap: break-word;
}

p {
    padding: 5px;
    word-wrap: break-word;
}

.example-spacer {
    flex: 1 1 auto;
  }

.title-text {
    padding-left: 5px;
    padding-right: 5px;
}

.second-row-form{
    justify-content: center;
}
